header {
    margin: unset;
    max-width: 1440px;
    height: 40px;
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}
.logo {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.88px;
    text-transform: uppercase;
}
.icon_group{
    display: flex;
    height: 24px;
    padding: 0px 3px 0px 45px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
}
.icon {
    width: 24px;
    height: 24px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
}
.flex {
    position: relative;
    display: flex;
}
.burger-menu {
    cursor: pointer;
    top: 6px;
    left: -2px;
    position: relative;
    display: none;
}
.burger-menu span {
    display: block;
    width: 24px;
    height: 1px;
    margin-bottom: 5px;
    background-color: black;
    transition: all 0.3s ease-in-out;
}
.burger-menu.cross span:nth-child(1) {
    position: relative;
    z-index: 12;
    transform: rotate(-45deg) translate(-3px, 5px);
}
.burger-menu.cross span:nth-child(2) {
    opacity: 0;
}
.burger-menu.cross span:nth-child(3) {
    position: relative;
    z-index: 12;
    transform: rotate(45deg) translate(-4px, -5px);;
}
.menu {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}
.burger_list {
    cursor: pointer;
    position: relative;
    z-index: 11;
    background-color: #FFFFFF;
}
.burger_item {
    padding-left: 30px;
    padding-bottom: 30px;
    color: #333;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
}
.burger_item:first-child {
    padding-top: 80px;
}
.menu.open {
    display: block;
}
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu ul li {
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    header {
        position: fixed;
    }
    .burger-menu {
        display: block;
    }
    .menu {
        display: none;
    }
}
@media (max-width: 480px) {
    .icon {
        height: 27px;
        padding: 0;
    }
}